
body {
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    /* height: 80vh;
    background: linear-gradient(to right, #b5b5b5, #353435); */
       height: 80vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Headings */
h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

/* Project Cards */
.project-card {
    transition: 0.3s;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Buttons */
.btn {
    border-radius: 25px;
}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top ;  /* 🔥 THIS FIXES FACE POSITION */
    border: 4px solid white;
}

